#
# .gitignore for libfg2
#

# Compiled
*.o
*.os
*.so
*.a
*.com
*.class
*.dll
*.exe
*.pyc
*.lo
*.la

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and db
*.log
*.sql
*.sqlite
*.dblite

# OS files
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# Autotools stuff

*~

Makefile
Makefile.in

aclocal.m4
/ar-lib
autom4te.cache/

/build-aux/

compile
config.*

configure

config.h
stamp-h1

install-sh
libtool
ltmain.sh
missing
depcomp

/libfg2.h

*.pc
m4/libtool.m4
m4/lt*.m4

snapshot.jpg

.deps/
.libs/

doc/reference/

examples/example
examples/test
examples/fg-udev
examples/camsnap
examples/camsnap.c
examples/camsnap-vala
examples/camview-gtk2
examples/camview-gtk3
examples/camview-sdl
examples/camsnap-vala.c
examples/camsnap_vala_vala.stamp
