
# documentation dir
share/*

# python bindings
src/gtkcamera
src/pyfg2


#pyfg2/bin/*
#pyfg2/include/*
#pyfg2/lib/*

#pyfg2/bin
#pyfg2/include
#pyfg2/lib

#pyfg2/pyfg2.c

# autotools stuff
Makefile
Makefile.in

src/Makefile
src/Makefile.in

aclocal.m4
autom4te.cache/

config.guess
config.log
config.status
config.sub

configure

config.h
stamp-h1

*~

install-sh
libtool
ltmain.sh
missing
depcomp

src/.deps
src/.libs
*.lo
*.la
